
/* Add some content at the bottom of the video/page */
.video{
  background-image: url("./sunset.mp4");
  display: grid;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  align-content: center;
}

.video::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #293A43;
  opacity: .96;
}
.videoAndText__text {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    
    position: absolute;
    bottom: 8px;
    left: 16px;
    
}

.videoAndText__video{
    width: 100%;
    height: auto;
    margin: 0 auto; 
   
}
.videoAndText{
   position: relative;
   text-align: left;
   color: #f1f1f1;
}